
{% extends 'base.html' %}
{% load static %} 
{% block title%}Pat Keenan | Developer{% endblock %} 
{% block metaTags %}
<meta name="description"
    content="Pat Keenan | Self-taught developer living in Asbury Park NJ with a passion for Django and Angular.">
<meta property="og:title" content="Pat Keenan | Developer" />
<meta property="og:url" content="https://www.patkeenan.dev/" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Pat Keenan | Developer" />
<meta name="twitter:description"
    content="Pat Keenan | Self-taught developer living in Asbury Park NJ with a passion for Django and Angular." /> 
{% endblock %} 
{% block vue %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.9.0/devicon.min.css">
{% endblock %} 
{% block content %}
<div class="container">
    <h1 class="text-center">Page Not found</h1>
    <a href="{% url 'home' %}" class="mt-4 mx-auto"><button class="btn ds-bg ls-text">Go Home</button></a>
</div>
{% endblock %}