<div class="container py-4 px-0" id="about">
    <h3 class="ls-text px-0 mx-0 text-center">About Me</h3>
    <hr class="ls-bg">
    <div class="row pb-4">
        <div class="col text-center pt-3" style="max-width: 900px; margin: 0 auto;">
            <p class="ls-text">When I was younger, my brother got a longboard skateboard as a gift for his birthday. I thought it was the coolest thing
            in the world and was convinced I could make one for myself. Having no prior woodworking experience or tools, what I
            thought would be a quick two-week project ended up taking several years. I was determined to make the perfect longboard,
            but every step I took involved learning an entirely new woodworking skill using a completely different set of tools.
            After multiple rounds of trial and error and learning how not to make a board, I finally figured out a solution that
            worked.</p>
            <br>
            <p class="ls-text">Learning to code was a very similar experience for me. I wanted to build a website to sell my skateboards but didn't
            know where to start. I began learning the basics of HTML, CSS, and JavaScript. From there, I realized how much
            information was available around web development and began learning those fundamentals as well.</p>
            <br>
            <p class="ls-text">After a couple months of learning the basics, I managed to get a site up and running. I was proud of my bare-bones
            website, but through my research, I knew that there were more capabilities and functional features that I could include.
            It became clear that my next step was to learn a programming language like Python. Since then, I have been applying
            myself to learn as much as possible through all of the programming and coding resources that are available.</p>
            <br>
            <p class="ls-text">The biggest challenge I faced when learning to build a website was the fact that I was looking for one set method that
            worked every time, like building a skateboard. I now understand how many different approaches there are to take, and the
            advantages of choosing one way over another. My journey of problem solving and continual learning throughout the
            longboard process has helped establish my passion for programming. I love to learn new skills and to apply those skills
            in a real, applicable way. My drive to learn and dedication to finding solutions make me and web development a perfect
            match.
</p>
            

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="ls-text px-0 mx-0 pt-4 mx-auto text-center">Skills</h4>
            <hr class="ls-bg mb-4">
            <div class="row pt-md-3 pt-1">
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <div class="container ls-bg shadow px-2 py-3 my-card skill-cards">
                        <h6 class="px-0 mx-0 text-center">Languages</h6>
                        <hr class="p-0 my-2">
                        <div class="row row-cols-2 row-cols-md-3 g-3 g-md-2 py-2 py-md-1">
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-python-plain text-primary fs-3"></i>
                                    <p class="pt-1">Python</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-javascript-plain colored fs-3"></i>
                                    <p class="pt-1">Javascript</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-html5-plain colored fs-3"></i>
                                    <p class="pt-1">HTML</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-css3-plain colored fs-3"></i>
                                    <p class="pt-1">CSS</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-sass-original colored colored fs-3"></i>
                                    <p class="pt-1">Sass</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-typescript-plain colored fs-3"></i>
                                    <p class="pt-1">Typescript</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="container ls-bg shadow px-2 py-3 my-card skill-cards">
                        <h6 class="px-0 mx-0 text-center">Frameworks & Software</h6>
                        <hr class="p-0 my-2">
                        <div class="row row-cols-2 row-cols-md-3 g-3 g-md-2 py-2 py-md-1">
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-angularjs-plain colored fs-3"></i>
                                    <p class="pt-1">Angular</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-django-plain colored fs-3"></i>
                                    <p class="pt-1">Django</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-gatsby-plain colored fs-3"></i>
                                    <p class="pt-1">Gatsby</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>   
            <div class="row m-auto p-0 my-4">
                <div class="col-12">
                    <div class="container ls-bg shadow px-3 py-4 my-card">
                        <h6 class="px-0 mx-0 text-center">Libraries</h6>
                        <hr class="p-0 my-2">
                        <div class="row py-2 py-md-1">
                            <div class="col mb-3 mb-md-0">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-bootstrap-plain colored fs-3 pt-1 pt-md-0"></i>
                                    <p class="pt-1">Bootstrap</p>
                                </div>
                            </div>
                            <div class="col mb-3 mb-md-0">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <svg class="m-auto" style="height: 28px;" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em"
                                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 373" class="iconify icon:logos-bulma"
                                        data-inline="false" data-width="1em" data-height="1em" data-icon="logos-bulma"
                                        style="transform: rotate(360deg);">
                                        <path fill="#00D1B2"
                                            d="M0 256L23.273 93.09L116.363 0l116.364 116.364l-69.818 69.818L256 279.272l-139.636 93.092z">
                                        </path>
                                    </svg>
                                    <p class="pt-1">Bulma</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <img src="https://tailwindcss.com/_next/static/media/tailwindcss-mark.cb8046c163f77190406dfbf4dec89848.svg"
                                        alt="" style="height: 27px;">
                                    <p class="pt-1">Tailwind</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="px-3 py-2 text-center d-flex flex-column shadow my-card">
                                    <i class="devicon-vuejs-plain colored fs-3 pt-1 pt-md-0"></i>
                                    <p class="pt-1">Vue</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
