<div class="container pb-4" id="contact">
    <div class="row h-100 shadow p-4 rounded-corner">
        <div class="col-12 col-md d-flex justify-content-center align-items-center flex-column ">
            <h4 class="text-center w-md-75 w-100">Get in Touch</h4>
            <p class="py-2 w-md-75 w-100 text-center">If you would like to have a conversation, please feel free to send an email using the contact form or message me directly at <span class="text-primary">patkeenan.dev@gmail.com</span></p>
        </div>
        <div class="col-12 col-md">
            <form class="p-3" method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <label for="email">Name</label>
                <input type="text" class="form-control mb-2" name="name" required>
                <label for="email">Email</label>
                <input type="email" class="form-control mb-2" name="email"  required>
                <label for="message">Message</label>
                <textarea type="text" name="message" id="" class="form-control" required></textarea>
                <button class="btn ds-bg ls-text mt-3" aria-label="Send Message">Send</button>
            </form>
        </div>
    </div>
</div>